<template>
    <form class="container">
        <div class="row my-3">
            <div class="col">
                <label>Mail</label>
                <input class="form-control" name="mail" type="email" v-model="userData.mail"></input>
            </div>
        </div>
        <div class="row my-3">
            <div class="col">
                <label>Password</label>
                <input class="form-control" name="password" type="password" v-model.lazy="userData.password"></input>
            </div>
        </div>
        <div class="row my-3">
            <div class="col">
                <label>Age</label>
                <input class="form-control" name="age" type="number" v-model="userData.age"></input>
            </div>
        </div>
        <div class="row my-3">
            <div class="col">
                <label>Message</label>
                <textarea class="form-control" name="message" v-model="userData.message"></textarea>
            </div>
        </div>
        <div class="row my-3">
            <div class="col d-flex flex-row justify-content-start align-items-center">
                <div class="mx-2">
                    <input type="checkbox" name="sendmail" value="sendmail" v-model="userData.send"></input>
                    <label>Send mail</label>
                </div>
                <div class="mx-2">
                    <input type="checkbox" name="sendinfomail" value="sendinfomail" v-model="userData.send"></input>
                    <label>Send infomail</label>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col d-flex flex-row justify-content-start align-items-center">
                <div class="mx-2">
                    <input type="radio" name="gender" value="male" v-model="userData.gender"></input>
                    <label>Male</label>
                </div>
                <div class="mx-2">
                    <input type="radio" name="gender" value="female" v-model="userData.gender"></input>
                    <label>Female</label>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col">
                <Switcher v-model="userData.priority" :options="priorities"></Switcher>
            </div>
        </div>

        <div class="row my-3">
            <div class="col">
                <button type="button" class="btn btn-success" @click="submit">Submit</button>
            </div>
        </div>

    </form>
</template>

<script>
import Switcher from "./Switcher.vue"

export default {
    data: function(){
        return {
            userData: {
                mail: '',
                age: 33,
                password: '',
                message: '',
                send: [],
                gender: '',
                priority: 'Normal'
            },
            priorities: ['High', 'Normal', 'Low']
        };
    },
    methods: {
        submit: function(){
            this.$emit('submit', this.userData);
        }
    },
    components: {
        Switcher
    }
}
</script>

<style></style>