<template>

    <div class="container">
        <div class="row my-3">
            <div class="col">
                <div class="preview px-2">
<pre>
{{userData.mail}}
{{userData.age}}
{{userData.password}}

{{userData.message}}

{{userData.priority}}
</pre>

                    <h6 v-if="userData.send.length > 0">Sending...</h6>
                    <ul v-for="method in userData.send">
                        <li>{{method}}</li>
                    </ul>

                    <label>{{userData.gender}}</label>
                </div>

            </div>
        </div>
    </div>

</template>

<script>
export default {
    props: ['userData']
}
</script>

<style scoped>
.preview{
    border:1px solid black;
}
</style>