<template>
    <div>
        <button
            type="button"
            v-for="item of options"
            class="btn btn-primary mr-3"
            :class="{active: item == value}"
            @click="switched(item)">{{item}}</button>
    </div>
</template>

<script>
export default {
    props: ['options', 'value'],
    data: function(){
        return {};
    },
    methods: {
        switched: function(val){
            this.$emit('input', val);
        }
    }
}
</script>

<style>
</style>