<template>
  <div id="app">
    <MainForm @submit="process_form" />
    <Preview :userData="userData" v-if="submitted"/>
  </div>
</template>

<script>
import MainForm from "./components/MainForm.vue";
import Preview from "./components/Preview.vue";

export default {
  name: 'App',
  data: function(){
    return{
      submitted: false,
      userData: null
    };
  },
  methods: {
    process_form: function(newdata){
      this.userData = newdata
      this.submitted = true;
    }
  },
  components: {
    MainForm,
    Preview
  }
}
</script>

<style>
</style>
